/* Added styling to the h1*/
h1 {
  font-size: small;
}
/* Added styling to the container */
.container {
  padding-top: 50px;
}

#time {
  float: right;
}
/* Added styling to the button */
button {
  background: blueviolet;
  color: white;
  border-radius: 8px 8px;
}
